#top {
	height: 100px;
	width: 100%;
	background-color: yellow;
}
	
#left {
	height: 850px;
	width: 10%;
	background-color: green;
	float: left;
}
	
#centre {
	height: 750px;
	width: 80%;
	background-color: blue;
	float: left;
}
	
#right {
	height: 750px;
	width: 10%;
	background-color: purple;
	float: left;
	}

#footer {
	height: 100px;
	width: 90%;
	background-color: red;
	float: left;
}

#logo {
	float: left;
}

#centrebox {
	border-style: solid;
	border-style: 5px;
	border-color: red;
	background-color: white;
}

.container {
	position: relative;
	text-align: center;
	color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

table, th, td {
	border: 1px solid red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}

video {
    display: block;
    margin: 0 auto;
}

table.one {
    width:45%;
    float:right;
}